---
class: demo
chroma: 50
js:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.6.1/math.min.js
  - convert
  - index
---

{% macro select(
  label,
  id,
  values
) %}
  <label for="{{ id }}">{{ label }}</label>
  <select name="{{ id }}" id="{{ id }}">
    {% for value, name in values %}
      <option
        value="{{ value }}"
        {{ 'selected' if loop.first else '' }}>
        {{ name }}
      </option>
    {% endfor %}
  </select>
{% endmacro %}

<header>
  <h1>
    Chroma/Saturation:
    <span id="chroma-value">{{ chroma }}</span>
  </h1>

  <details class="demo-settings">
    <summary>Settings</summary>
    <form class="dropdown">
      <div class="field">
        <label for="chroma-range">Chroma/Saturation</label>
        <input id="chroma-range" type="range" min="0" max="100" value="{{ chroma }}">
      </div>
      <div class="field">
        {{ select(
          label='Out-Of-Gamut Colors',
          id='out-of-gamut',
          values={
            'hidden': 'Hidden',
            'clipped': 'Clipped RGB',
            'fixed': 'Desaturated RGB'
          }
        ) }}
      </div>
    </form>
  </details>
</header>

{% macro label(
  format,
  l,
  c,
  h
) -%}
  {% set value = [l, c, h] if (format == 'lch') else [h, c, l] %}
  <code class="sr-only">{{ format }}({{ value | join(' ') }})</code>
{%- endmacro %}

{% macro lch_data(l,c,h) -%}
  data-lch="{{ [l, c, h] | join(',') }}"
{%- endmacro %}

{% macro hsl_style(h,l) -%}
  style="--hsl: hsl({{ h }} calc(var(--s) * 1%) {{ l }}%)"
{%- endmacro %}

{% macro table(
  format,
  chroma
) %}
  <table>
  {%- for hue in range(0, 360 / 2) -%}
    {%- set hue = hue * 2 -%}
    <tr class="range">
    {%- for light in range(0, 100) -%}
      <td {{
        hsl_style(hue,light)
        if (format == 'hsl') else
        lch_data(light, chroma, hue)
      }}>
        {{- label(format, light, chroma, hue) -}}
      </td>
    {%- endfor %}
    </tr>
  {%- endfor %}
  </table>
{% endmacro %}

<section class="demo-grid">
  <section id="lch">
    <h2>HCL Lightness/Hue</h2>
    {{ table(
      format='lch',
      chroma=chroma
    ) }}
  </section>

  <section id="hsl" style="--s: {{ chroma }}">
    <h2>HSL Lightness/Hue</h2>
    {{ table(
      format='hsl',
      chroma=chroma
    ) }}
  </section>
</section>
