@use '../../node_modules/accoutrement/sass/tools';
@use '../../node_modules/cssremedy/css/remedy.css';

.sr-only {
  @include tools.is-hidden;
}

.markdown {
  font-size: calc(1em + 1vw);
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
}

.demo {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 1.5em;
    margin: 0 1rem;
  }

  h2 {
    font-size: 1em;
    margin: 0;
  }
}

.demo-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  padding: 0.5rem;

  > section {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    border: 1px solid gray;
  }
}

[data-lch] {
  background-color: var(--in-gamut, var(--out-of-gamut));

  [data-show='hidden'] & {
    --out-of-gamut: transparent;
  }

  [data-show='clipped'] & {
    --out-of-gamut: var(--clipped);
  }

  [data-show='fixed'] & {
    --out-of-gamut: var(--fixed);
  }
}


[style*='--clipped'] {
  table:hover & + :not(&),
  table:hover :not(&) + & {
    border-left: 1px solid white;
  }
}

[style*='--hsl'] {
  background-color: var(--hsl);
}

.demo-settings {
  cursor: pointer;
  position: relative;
  padding: 0.5rem 1rem;
}

.dropdown {
  background: white;
  border: 1px solid;
  padding: 1rem;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100vh;
  max-width: max-content;
}

.field {
  margin: 0.5em 0;
}

label {
  display: block;
}
